/* JavaFX Application Stylesheet */

.default {
    -fx-background-color: #85C1E9;

}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #2471A3;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#2980B9, #2471A3);
}

.button:hover {
    -fx-background-color: linear-gradient(#2471A3, #2980B9);
}